@import "tailwindcss";

 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.active-menu {
  background-color: #191f26;
  border-left-color: #1aed59;
}

.font-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

.submenu::before {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgb(18, 52, 77) transparent transparent;
}
 

::-webkit-scrollbar {
  width: 11px;            
  height: 11px;        
}

::-webkit-scrollbar-track {
  background: #fff;   
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8b8b8b; 
  border-radius: 10px;
  border: 2px solid #fff; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

 
.border-l-5 {
  border-left-width: 5px;
}

input::placeholder,
textarea::placeholder {
  @apply text-[13px] text-[#585858];
}

input[type="radio"],
input[type="checkbox"] {
  @apply accent-[#009333];
}

@layer components {
  .form-control {
    @apply block w-full h-[35px] px-[0.75rem] py-[0.375rem] text-[#212529] bg-white border border-[#cbcbcb] rounded-md leading-[1.5] focus:outline-none focus:border-[#009333];
  }

  .form-label {
    @apply text-sm text-[#1D1D1D];
  }

   .filter-label {
    @apply block text-sm font-semibold text-[#000000] mb-1.5;
  }

   .filter-header {
    @apply py-[0.5rem] px-[0.75rem] border-b border-[#dee2e6] flex justify-between items-center text-sm text-[#12344d];
  }

     .offcanvas-sidebar {
    @apply relative w-80 mt-[5.4rem] mb-[0.15rem] rounded-tl-[0.375rem] rounded-bl-[0.375rem] bg-white shadow-[0_4px_16px_#27313a66] transform transition-transform duration-300;
  }

 
  .btn-sm {
    @apply py-1 px-2 text-sm rounded border cursor-pointer;
  }

     .btn-visible-hover {
    @apply !border-transparent !text-[#384551] hover:bg-[#dce0e5] hover:border-[#ebeff3] text-sm;
  }

    .btn-hover-ct {
    @apply !border-transparent !text-[#384551] hover:bg-[#eceff1] hover:border-[#eceff1] text-sm;
  }

     .tab {
    @apply  inline-block p-[8px] rounded-t-[0.375rem] text-[#576c7d] cursor-pointer ;
  }

    .btn-hover {
    @apply !border-[#cfd7df] text-[#12375d] bg-white hover:bg-[#ebeff3] text-sm;
  }

  .btn-primary {
    @apply bg-[#009333] text-white border border-[#009333] hover:bg-[#007a2a] cursor-pointer transition;
  }

  .btn-secondary {
    @apply bg-[#6c757d] text-white border border-[#6c757d] hover:bg-[#5a6268] cursor-pointer transition;
  }

  .btn-light {
    @apply bg-gradient-to-b from-white to-[#f5f7f9] text-[#212529] border border-[#cfd7df] hover:from-gray-50 hover:to-[#e9ecef] cursor-pointer transition;
  }

  .dropdown-icon-hover {
    @apply px-1 py-[0.075rem] rounded hover:bg-[#dce0e5] cursor-pointer;
  }

  .sticky-table-header {
    @apply text-[12px] text-[#475867] text-left bg-white sticky top-0 z-10 shadow-[0_1px_0_0_#ebeff3];
  }

  .sticky-table-header {
    @apply text-[12px] text-[#475867] text-left bg-white sticky top-0 z-10 shadow-[0_1px_0_0_#ebeff3];
  }

  .th-cell {
    @apply border-r border-[#ebeff3] p-[0.3rem];
  }

  .last-th-cell {
    @apply p-[0.3rem];
  }

  .td-cell {
    @apply border-r border-b border-[#ebeff3] p-[0.3rem];
  }

  .last-td-cell {
    @apply border-b border-[#ebeff3] p-[0.3rem];
  }

  .counter-badge {
    @apply inline-block min-w-[20px] h-[20px] px-[6px] text-xs leading-[20px] rounded-full text-center bg-[#009333] text-white;
  }

  .footer-list {
    @apply bg-[#ebeff3] py-3 h-[56.9px] px-4 flex items-center justify-start;
  }

  .tr-hover {
    @apply hover:bg-[#f5f7f9] text-sm cursor-pointer;
  }

   .edit-icon {
    @apply p-1 rounded border border-[#cfd7df] text-[#4d5e6c];
  }

  .badge-selected {
  @apply py-[10px] px-[15px] text-sm rounded-full shadow-[0_2px_10px_#27313a66] bg-[#fef1e1] text-[#12344d];
}

}
