@import "tailwindcss";




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.active-menu {
  background-color: #191f26;
  border-left-color: #1aed59;
}

.font-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

.submenu::before {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgb(18, 52, 77) transparent transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Fix for border-l-5 since it might not be available in default Tailwind */
.border-l-5 {
  border-left-width: 5px;
}


input::placeholder,
textarea::placeholder {
  @apply text-[13px] text-[#585858];
}

input[type="radio"],
input[type="checkbox"] {
  @apply accent-[#009333];
}


@layer components {
  .form-control {
    @apply block w-full h-[35px] px-[0.75rem] py-[0.375rem] text-[#212529] bg-white border border-[#cbcbcb] rounded-md leading-[1.5] focus:outline-none focus:border-[#009333];
  }

  .form-label {
    @apply  text-sm text-[#1D1D1D];
  }

  .btn-sm {
  @apply py-1 px-2 text-sm rounded border cursor-pointer;
}

.btn-primary {
    @apply bg-[#009333] text-white border border-[#009333] hover:bg-[#007a2a] cursor-pointer transition;
  }

  .btn-secondary {
    @apply bg-[#6c757d] text-white border border-[#6c757d] hover:bg-[#5a6268] cursor-pointer transition;
  }
}

